#filters{
    text-align: center;
}

body {
    background-image: url('assets/2.webp');
    background-size: cover;
    background-position: center;
    
    height: 100vh;
    margin: 0;
    padding: 0;
}